{% extends "blog/template.html" %}
{% load static %}
{% block mainbody %}
<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 hidden-sm hidden-xs nav-catalog">
			<ul class="nav nav-stacked" data-spy="affix" data-offset-top="175">
				<li>
					<a href="#">Sorting Algorithms</a>
					<ul class="nav nav-stacked">
						<li><a href="sort">Basic Sorting Algorithms</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Data Structure</a>
					<ul class="nav nav-stacked">
						<li><a href="data-structure">Basic Data Structure</a></li>
					</ul>
				</li>
				<li><a href="#">Socket</a></li>
				<li><a href="#">Multithread</a></li>
				<li>
					<a href="#">Signal Processing</a>
					<ul class="nav nav-stacked">
						<li><a href="#">Fast Fourier Transform</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Others</a>
					<ul class="nav nav-stacked">
						<li><a href="#">How float is represented in memory ?</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<div class="col-md-8 blog-main">
			<div id="blog-post">
				<h1 id="blog-post-title"></h1>
				<p id="blog-post-meta"></p>
				<p id="blog-post-update"></p>
				{% block content %}{% endblock %}
			</div><!-- /.blog-post -->
			<nav>
				<ul class="pager">
					<li><a href="#">Previous</a></li>
					<li><a href="heapsort.php">Next</a></li>
				</ul>
			</nav>
			<div id='comment-counter'>
				{{commentNum}} Comment{{commentNum|pluralize}}
			</div>
			<div id='comment-list'>
			</div>
			<div class="horizontal-line"><hr></div>
			{% verbatim %}
			<h2 id='section-comments'>Comments</h2> 
			<div id='comment-box' ng-app='commentBox' class='container-fluid'>
				<div class="row">
					<form ng-controller="FrmController" name="commentForm">
						<div class="col-md-6">
							<span>*Name:</span>
							<input type="text" name="name" placeholder="Your Name" ng-model="txtName" required>
							<img ng-show="!commentForm.name.$error.required" ng-src={{commonStaticURL+"image/correct.svg"}} class="indicator-icon" title="Correct">
						</div>
						<div class="col-md-6">
							<span>*Email:</span>
							<input type="email" name="email" placeholder="Your Email Address" ng-model="txtEmail" required>
							<img ng-if="commentForm.email.$valid" ng-src={{commonStaticURL+"image/correct.svg"}} class="indicator-icon" title="Correct">
							<img ng-if="commentForm.email.$invalid && !commentForm.email.$pristine"  ng-src={{commonStaticURL+"image/incorrect.svg"}} class="indicator-icon" title="Invalid">
						</div>
						<div class="col-xs-12">
							<span>*Comment:</span>
							<img ng-show="!commentForm.comment.$error.required" ng-src={{commonStaticURL+"image/correct.svg"}} class="indicator-icon" title="Correct">
							<textarea ng-model="txtComment" placeholder="Your Comment" name="comment" required></textarea>
							<button ng-click='btn_add();' class="btn btn-info">Submit</button>
						</div>

						<ul>
							<li ng-repeat="comnt in comment">{{comnt}}<a  style="float: right;" href="" ng-click="remItem($index)">x</a></li>
						</ul>
					</form> 
				</div>
				<br>
				<p>Your email is going to be used for notifications and won't be disclosed for any other purposes.</p>
			</div>
			{% endverbatim %}
		</div><!-- /.blog-main -->

		<div id="right-sidebar" class="col-md-2"></div>
	</div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
{% block customjs %}
<script src="{% static "blog/js/articles.js" %}"></script>
<script src="{% static "js/github-stars/github-stars.js" %}"></script>
<script src="{% static "blog/js/comment-box.js" %}"></script>
{% endblock %}
