{% extends "blog/template.html" %}
{% load static %}
{% block mainbody %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 blog-main">
			<div id="excerpts"></div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
{% endblock %}

{% block articlejs %}
<script src="{% static "js/github-stars/github-stars.js" %}"></script>
<script src="{% static "blog/js/home.js" %}"></script>
<link rel="stylesheet" href="{% static "blog/css/home.css" %}">
{% endblock %}
